extends layout

block content
    h1 Add new chat room
    form(action=' ', method='post')
        fieldset.form-group
            label(for='name') Name:
            input.form-control(type='text', name='name', placeholder='Enter a name', id='name')
            small.text-muted Give your chat room meaningful name
        button.btn.btn-primary(type="submit") Create new chat room
        a(href='./').btn.btn-default Back
